.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.input-container-chooser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
}

.input-label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input[type="text"] {
    margin: 5px;
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-container button {
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: #13B33B;
    color: white;
    cursor: pointer;
}

.error-message {
    min-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    text-align: center;
    font-size: 14px;
}

.intro-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
}

.nickname-container {
    margin-bottom: 0em;  /* You can adjust this */
}

.district-container {
    margin-top: 0em;
}

.consent-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.consent-checkbox {
    margin-right: 10px;
}

.consent-label {
    max-width: 80%;
    word-wrap: break-word;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container-chooser input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 15px;
}

.input-container-chooser label {
    vertical-align: middle;
    display: inline-block;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;  /* This will vertically align the checkbox and the label */
}

input[type="checkbox"] {
    margin-right: 15px;  /* Adjust the value as needed */
}

.information-text {
    font-weight: 600;
    margin-bottom: 0.5rem;  /* Less space than prompts to keep it tight */
}

.prompt-text {
    color: #333;  /* Darker grey */
    font-weight: 600;
    margin-bottom: 1rem;  /* Standard space */
}

.info-message {
    min-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
    text-align: center;
    font-size: 14px;
 }
